
section{
border-radius: 7px;
border-width: 2px;
border-color: #00000015;
border-style: double;
font-family:'fuente';
margin: auto;
margin-left:35vh;
margin-right:35vh;
}
article{
    font-family:'fuente';
    font-size: 35px;
}
#contacto{
    border:none;
}
.info{
border-radius: 7px;
border-width: 2px;
border-color: #00000015;
font-family:'fuente';
margin: auto;
margin-bottom: 10vh;
}

.info iframe{
    margin: auto;
    width: 50%;
    height: 60vh;
}