@font-face {
    font-family: 'fuente';
    src: url('../resources/Hogback.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 :root{
    --mel: #e8e8ee;
    --meld: #992d2d;
    --sub: #e2776f;
    --neg: #000000;
    --turq: #00a7add1;
    --bg: #c4c4c4;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100%;
    text-align: center;
    background: var(--mel);
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--sub);
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
    z-index: 999;
    box-shadow: var(--neg) 0px 0px 10px;
}
/*marca*/
#marca{
    margin-left: 0;
    width: 20vw;
    font-family: 'fuente';
}
.logo img{
    width: 100%;
    transform: translate(0%,5%);
}
.logo{
    width: 12vw;
    height: 12vh;
}

/*carrito*/
#carrito{
    background: var(--sub);
    width: 20vw;
    height: 12vh;
    overflow: hidden;
}
#carrito img{
    max-width: 100%;
    max-height: 12vh;
}
.productos_carrito{
    transform: translateY(-1%);
    background: var(--sub);
    border: solid var(--meld) 1px;
}
.producto{
    height: 10vh;
}
#carrito:hover{
    overflow: visible;
}
/*navegador*/
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: var(--neg);
    position: relative;
    cursor: pointer;
    font-family: 'fuente';
    font-size: 2em;
}
nav ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: var(--meld);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.2s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
.navegador{
    text-align: center;
    padding: 2.5vh;
}

/*footer*/
footer{
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10vh;
    background: linear-gradient(var(--mel),var(--sub));
}

footer #copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
}
footer .quote{
    margin: 1vh;
    font-family: 'fuente';
    font-size: 2em;
}
/*main*/
main{
    margin-top: 15vh;
    height: auto;
    width: 100%;
}
h1{
    font-family: 'fuente';
}
p{
    font-family: 'fuente';
}


/*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*/
.wrap{
	height:100%;
	width: 95%;
    margin: auto;
    margin-top: 1%;
}

.wrap h1{
	text-align:center;
	height: 5%;
    background-color: var(--sub);
    border: 3px var(--meld) solid;
    border-radius: 15px;
    padding: 2px ;
    font: 3em 'fuente';
}
.section{
	display: flex;
	height:95%;
	overflow: hidden;
    font-family: 'fuente';
    margin-top: 2%;
}
.section1{
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.article{
    margin: 3px;
	border: solid var(--meld) 2px;
    border-radius: 15px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: var(--sub);
	width: 30%;
	height: 30%;
    box-shadow: 0px 0px 5px var(--turq);
}
.foto{
    height: 45vh;
    width: 25vw;
    float: left;
    margin: 2vh 3vw;
    border: solid var(--sub);
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--turq);
}
.precio{
    font-family: 'fuente';
}
h2, h3, h4{
    color: var(--meld);
    font-family: 'fuente';
}
.mas{
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

.especificaciones{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--bg);
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 1px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .especificaciones p{
    font: 1em sans-serif;
  }
  .active1, .mas:hover{
    background-color: var(--bg);
  }
  .active1{
    border-radius: 0px;
  }
  .color{
	display: flex;
	overflow: hidden;
    margin-top: 2%;
    justify-content: space-between;
    width: 20%;
}
.color1{
    border-radius: 50%;
	align-items: center;
	background-color: var(--neg);
	width: 1.2vw;
	height: 2vh;
}
.color2{
	border: solid var(--meld) 2px;
    border-radius: 50%;
	align-items: center;
	background-color: var(--sub);
	width: 1.2vw;
	height: 2vh;
}
.color3{
	border: solid var(--meld) 2px;
    border-radius: 50%;
	align-items: center;
	background-color: var(--turq);
	width: 1.2vw;
	height: 2vh;
    
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--sub); 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical 
}
label{
    font-family: 'fuente';
    font-size: 2em;
}

input[type=submit] {
  background-color: var(--sub);
  color: var(--meld);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--sub);
}

.container {
  border-radius: 5px;
  background-color: var(--mel);
  padding: 20px;
  margin-bottom: 10vh;
}

/*style Home---------------------------------------------------------------------------------------*/
#home{
    padding-bottom: 30vh;
    border: none;
}
.slider{
   width: 75vw;
   height: 60vh;
   margin: auto;
   margin-top: 5vh;
   border: 1px solid var(--neg);
   overflow: hidden;
   box-shadow: var(--neg) 0px 0px 5px;
}
.navigator{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 28vh;
    transform: translate(-50%);
}
.navigator .bar{
    height: 2vh;
    width: 1vw;
    border-radius: 100%;
    background-color: var(--neg);
    border: 1px solid var(--neg);
    margin-left: 8px;
    cursor: pointer;
}
.navigator .bar:hover{
    background-color: aliceblue;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    display: flex;
    height: 100%;
    width: 500%;
}

.novedades{
    width: 20%;
    transition: 0.4s ease-out;
}

#slide1:checked ~ .first{
    margin-left: 0;
}
#slide2:checked ~ .first{
    margin-left: -20%;
}
#slide3:checked ~ .first{
    margin-left: -40%;
}


.topphones{
    margin: 1vh 2vw;
    height: 30vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: var(--meld) dashed 3px;
    border-width: 3px 0px 3px 0px;
 }
.vermas{
    width: 100%;

}
.vermas a{
    text-decoration: none;
    color: var(--neg);
}
.vermas p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    width: 5vw;
    margin-top: 5vh;
    margin-left: 93%;
    border: solid var(--neg) 2px;
    box-shadow: var(--neg) 0px 0px 5px;
}

.vermas p:hover{
    background-color: var(--bg);
}

.cajita{
    width: 15vw;
    height: 25vh;
    margin-left: 2vw;
    border: solid var(--neg) 1px;
    box-shadow: var(--neg) 0px 0px 5px;
}



/*Creado por Bin, Gerardo y Christian*/
