@font-face {
    font-family: 'fuente';
    src: url('../resources/Hogback.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 :root{
    --mel: #F894A4;
    --meld: #f6b68c;
    --sub: rgb(201, 95, 95);
    --neg: rgb(0, 0, 0);
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("../resources/cursor_zanahoria.png"),auto;
}
    
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../resources/UDP2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    margin-top: 15vh;
    background: linear-gradient(var(--mel),var(--mel),var(--meld),var(--mel));
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(var(--sub),var(--mel));
}
/*marca*/
#marca{
    width: 20vw;
    border: 3px solid var(--neg);
    font-family: 'fuente';
}
/*carrito*/
#carrito{
    width: 20vw;
    height: 90px;
    overflow: hidden;
}
#carrito img{
    max-width: 100%;
    max-height: 100%;
}
.producto{
    background: linear-gradient(var(--sub),var(--mel));
}
#carrito:hover{
    overflow: visible;
}
/*navegador*/
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: var(--neg);
    position: relative;
    cursor: pointer;
    font-family: 'fuente';
    font-size: 2em;
}
nav ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: var(--sub);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.2s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
.navegador{
    text-align: center;
    padding: 2.5vh;
}

/*footer*/
footer{
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10vh;
    background: linear-gradient(var(--mel),var(--sub));
}

footer #copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
}
footer .quote{
    margin: 1vh;
    font-family: 'fuente';
    font-size: 2em;
}
/*main*/
main{
    margin: 5vh;
    border: 3px solid var(--neg);
    height: 100%;
    width: 95%;
}


/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--sub); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
label{
    font-family: 'fuente';
    font-size: 2em;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--sub);
  color: var(--meld);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--sub);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: var(--mel);
  padding: 20px;
}
/*Creado por Bin, Gerardo y Christian*/
