@font-face {
    font-family: 'fuente';
    src: url('../resources/Hogback.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("../resources/cursor_zanahoria.png"),auto;
}
    
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../resources/UDP2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    margin-top: 15vh;
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgb(177, 114, 86);
    border-radius: 0 0px 10px 10px;
    background:linear-gradient(#F894A4,#F9D1B7);
}
/*marca*/
#marca{
    width: 20vw;
    border: 3px solid black;
}
/*carrito*/
#carrito{
    width: 20vw;
    height: 90px;
    overflow: hidden;
}
#carrito img{
    width: 90px;
    height: 90px;
}
.producto{
    background-color: #F9D1B7;
}
#carrito:hover{
    overflow: visible;
}
/*navegador*/
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}
nav ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(201, 95, 95);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.2s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
.navegador{
    text-align: center;
    padding: 2.5vh;
}
/*main*/
main{
    margin: 5vh;
    border: 3px solid black;
}
/*footer*/
footer{
    display: block;
    width: 100%;
    height: 10vh;
    border: 3px solid black;
}

/*Creado por Bin, Gerardo y Christian*/
