@font-face {
    font-family: 'fuente';
    src: url('../resources/Hogback.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 :root{
    --mel: #9794f8;
    --meld: #f6b68c;
    --sub: rgb(201, 95, 95);
    --neg: rgb(0, 0, 0);
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("../resources/cursor_zanahoria.png"),auto;
}
    
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../resources/UDP2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    margin-top: 15vh;
    background: var(--mel);
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(var(--sub),var(--mel));
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
}
/*marca*/
#marca{
    margin-left: 5vw;
    width: 20vw;
    border: 3px solid var(--neg);
    font-family: 'fuente';
}
/*carrito*/
#carrito{
    width: 20vw;
    height: 90px;
    overflow: hidden;
}
#carrito img{
    max-width: 100%;
    max-height: 100%;
}
.producto{
    background: linear-gradient(var(--sub),var(--mel));
}
#carrito:hover{
    overflow: visible;
}
/*navegador*/
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: var(--neg);
    position: relative;
    cursor: pointer;
    font-family: 'fuente';
    font-size: 2em;
}
nav ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: var(--sub);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.2s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
.navegador{
    text-align: center;
    padding: 2.5vh;
}

/*footer*/
footer{
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10vh;
    background: linear-gradient(var(--mel),var(--sub));
}

footer #copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
}
footer .quote{
    margin: 1vh;
    font-family: 'fuente';
    font-size: 2em;
}
/*main*/
main{
    margin: 5vh;
    border: 3px solid var(--neg);
    height: 100vh;
    width: 95%;
}
h1{
    font-family: 'fuente';
}
p{
    font-family: 'fuente';
}


/*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*/
section .tienda{    
    border: 3px solid var(--neg);
    margin: 3px;
    width: 95%;
    justify-content: space-between;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
article .tienda{
    border: 3px solid var(--neg);
    width: 33vw;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--sub); 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical 
}
label{
    font-family: 'fuente';
    font-size: 2em;
}

input[type=submit] {
  background-color: var(--sub);
  color: var(--meld);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--sub);
}

.container {
  height: 100vh;
  border-radius: 5px;
  background-color: var(--mel);
  padding: 20px;
}

/*style Home*/
.slider{
   width: 70%;
   height: 50%;
   border: 1px solid black;
   transform: translate(25%,10%);
}
.navigator{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}
.navigator .bar{
    height: 2vh;
    width: 1vw;
    border-radius: 100%;
    background-color: black;
    border: 1px solid black;
    margin-left: 8px;
    cursor: pointer;
}
.navigator .bar:hover{
    background-color: aliceblue;
}

/*Creado por Bin, Gerardo y Christian*/
