@font-face {
    font-family: 'fuente';
    src: url('../resources/Hogback.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 :root{
    --mel: #e8e8ee;
    --meld: #992d2d;
    --sub: #e2776f;
    --neg: #000000;
    --turq: #00a7add1;
    --bg: #c4c4c4;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100%;
    text-align: center;
    background: var(--mel);
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--sub);
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
    z-index: 999;
    box-shadow: var(--neg) 0px 0px 10px;
}
/*marca*/
#marca{
    margin-left: 0;
    width: 20vw;
    font-family: 'fuente';
}
.logo img{
    width: 100%;
    transform: translate(0%,5%);
}
.logo{
    width: 12vw;
    height: 12vh;
}

/*carrito*/
#carrito{
    background: var(--sub);
    width: 20vw;
    height: 12vh;
    overflow: hidden;
}
#carrito img{
    max-width: 100%;
    max-height: 12vh;
}
.productos_carrito{
    transform: translateY(-1%);
    background: var(--sub);
    border: solid var(--meld) 1px;
}
.producto{
    height: 10vh;
}
#carrito:hover{
    overflow: visible;
}
/*navegador*/
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: var(--neg);
    position: relative;
    cursor: pointer;
    font-family: 'fuente';
    font-size: 2em;
}
nav ul li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: var(--meld);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.2s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
.navegador{
    text-align: center;
    padding: 2.5vh;
}

/*footer*/
footer{
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10vh;
    background: linear-gradient(var(--mel),var(--sub));
}

footer #copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
}
footer .quote{
    margin: 1vh;
    font-family: 'fuente';
    font-size: 2em;
    align-items: center;
}
/*main*/
main{
    margin-top: 15vh;
    height: auto;
    width: 100%;
}
h1{
    font-family: 'fuente';
}
p{
    font-family: 'fuente';
}

/*Creado por Bin, Gerardo y Christian*/
