@font-face {
    font-family: 'fuente';
    src: url('../resources/DBorneo.vfc') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("../resources/cursor_zanahoria.png"),auto;
}
    
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../resources/UDP2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    margin-top: 15vh;
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    border: 3px solid black;
}
#marca{
    float: left;
    width: 20vw;
    height: 10vh;
    border: 3px solid black;
}
#carrito{
    float: right;
    width: 20vw;
    height: 10vh;
    border: 3px solid black;
}

.navegador{
    border: 3px solid black;
    float: left;
    height: 10vh;
}
/*main*/
main{
    border: 3px solid black;
}
/*footer*/
footer{
    display: block;
    width: 100%;
    height: 10vh;
    border: 3px solid black;
}

/*Creado por Bin, Gerardo y Christian*/